<div class="card mt-3">
    <div class="card-header text-white bg-primary">
        Liste des listes de Todo
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Utilisateur (id)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of list()">
                    <td>{{list.id}}</td>
                    <td>{{list.name}}</td>
                    <td>{{findUserById(list.userId)?.firstname}}</td>
                    <td><div class="btn-group btn-group-sm">
                        <a (click)="edit(list.id)" class="btn btn-primary"><i class="bi bi-pen"></i></a>
                        <a (click)="remove(list.id)" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </div></td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-success btn-lg" (click)="add()"><i class="bi bi-plus-lg"></i></a>
    </div>

</div>
<div class="card mt-3" *ngIf="listForm">
    <div class="card-header text-white bg-primary">
        Edition d'une liste de Todo
    </div>
    <div class="card-body">
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" disabled [(ngModel)]="listForm.id"/>
        </div>
        <div class="mb-3 mt-3">
            <label for="name" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="listForm.name"/>
        </div>
        <div class="mb-3 mt-3">
            <label for="userId" class="form-label">Utilisateur:</label>
            <select class="form-select" id="userId" name="userId" [(ngModel)]="listForm.userId">
                <option></option>
                <option *ngFor="let u of listUsers()" [value]="u.id">{{u.firstname}} {{u.lastname}}</option>
            </select>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg">
            <a class="btn btn-success btn-lg" (click)="save()"><i class="bi bi-check-lg"></i></a>
            <a class="btn btn-warning btn-lg" (click)="cancel()"><i class="bi bi-backspace"></i></a>
        </div>
    </div>
</div>